@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  outline: none;
}

a {
  text-decoration: none !important;
}

section {
  padding: 80px 0;
}

footer {
  padding: 20px 0;
}

header {
  padding: 10px 10%;
}

.heading {
  text-align: center;
  padding: 3rem;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.col-md-6,
.col-md-2,
.col-md-5 {
  margin-bottom: 1rem;
}

.cta {
  padding: 0.7rem 1.5rem;
  background: rgb(255, 85, 0);
  color: #fff;
  transition: 0.5s ease-in-out;
  border: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cta:hover {
  background: #fff;
  color: #000;
}

.brand .fa,
.contact .fa,
.services .fa {
  font-size: 1.7rem;
  padding: 0.8rem;
  background: rgb(255, 85, 0);
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.brand .fa:hover,
.contact .fa:hover,
.services .fa:hover {
  color: rgb(255, 85, 0);
  background: #fff;
}

@-webkit-keyframes typewritter {
  0% {
    content: "Web Designing";
  }
  50% {
    content: "Software Development";
  }
  100% {
    content: "Online Marketing";
  }
}

@keyframes typewritter {
  0% {
    content: "Web Designing";
  }
  50% {
    content: "Software Development";
  }
  100% {
    content: "Online Marketing";
  }
}
@-webkit-keyframes rocketlauncher {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -80px);
    opacity: 0;
  }
  0% {
    transform: translate(0px, 0px);
  }
}
@keyframes rocketlauncher {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -80px);
    opacity: 0;
  }
  0% {
    transform: translate(0px, 0px);
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(10, 10, 44);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
  height: auto;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1400px) {
  section {
    padding: 40px 0;
    transition: 0.5s ease-in-out;
  }
  header {
    padding: 7px 3%;
    transition: 0.5s ease-in-out;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
header .navbar-brand .navbar-toggler :focus {
  outline: none;
  border: none;
}
header li a {
  color: #fff !important;
  margin-left: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.home-wrapper {
  padding-top: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/index/home/pic1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.home-left h2 {
  color: #fff;
  line-height: 4.4rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
}
.home-left h2 span::after {
  content: "";
  -webkit-animation: typewritter 0.9s linear infinite;
          animation: typewritter 0.9s linear infinite;
  color: #6adfd7;
}
.home-left .home-btn img {
  width: 50px;
  height: 80px;
  -webkit-animation: rocketlauncher 0.7s 0.8s linear infinite;
          animation: rocketlauncher 0.7s 0.8s linear infinite;
}

.home-right form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.9rem;
  color: #fff;
  cursor: pointer;
}
.home-right form input,
.home-right form select,
.home-right form textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(149, 143, 143);
  background: transparent;
}
.home-right form input::-moz-placeholder, .home-right form select::-moz-placeholder, .home-right form textarea::-moz-placeholder {
  color: #000;
}
.home-right form input:-ms-input-placeholder, .home-right form select:-ms-input-placeholder, .home-right form textarea:-ms-input-placeholder {
  color: #000;
}
.home-right form input::placeholder,
.home-right form select::placeholder,
.home-right form textarea::placeholder {
  color: #000;
}
.home-right form .form-group {
  padding: 0.8rem;
}
.home-right form .form-group label {
  padding-bottom: 1rem;
}
.home-right form .home-btn button {
  border: none;
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    padding-top: 1rem;
    height: 160vh;
    transition: 0.5s ease-in-out;
  }
}
.counter-wrapper .counter-card {
  height: 100%;
  width: 100%;
}
.counter-wrapper .counter-card i:nth-child(1) {
  color: rgb(255, 85, 0);
}

.services-wrapper {
  background: linear-gradient(90deg, rgb(223, 223, 231) 30%, rgb(232, 232, 244) 70%);
}
.services-wrapper .services-card {
  display: grid;
  place-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 320px;
  max-height: 100%;
  max-width: 100%;
  transition: 0.5s ease-in-out;
}
.services-wrapper .services-card:hover {
  background-position: center right;
}
.services-wrapper .services-card .services-icon .fa {
  font-size: 4rem;
  color: #fff;
}
.services-wrapper .services-card .services-text h4 {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.services-wrapper .seo {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/index/services/seo.webp");
}
.services-wrapper .wd {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/index/services/technology-wd.webp");
}
.services-wrapper .gd {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/index/services/cd-ld.webp");
}
.services-wrapper .dm {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/index/services/digital-m.webp");
}

.services-home-ip {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  color: #fff;
}

.seo-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images//services/seo/bg.webp");
}

.dm-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/services/digital-m/bg.webp");
}

.gd-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/services/gd/bg.webp");
}

.wd-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/services/wd/bg.webp");
}

.services-card-ip .card {
  width: 100%;
  height: 100%;
}
.services-card-ip .card img {
  height: 250px;
  max-height: 100%;
}

.about-home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/about/bg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  color: #fff;
}

.market-research-wrapper {
  background: linear-gradient(90deg, rgb(223, 223, 231) 30%, rgb(232, 232, 244) 70%);
}
.market-research-wrapper .mr-card {
  padding: 0.5rem;
  border: 1px dotted rgb(149, 143, 143);
  height: 100%;
  width: 100%;
}
.market-research-wrapper .mr-card .mr-img {
  width: 80px;
  margin: auto;
}
.market-research-wrapper .mr-card .mr-img img {
  max-width: 100%;
  height: auto;
}
.market-research-wrapper .graph-img {
  width: 350px;
  height: 300px;
  text-align: center;
}
.market-research-wrapper .graph-img img {
  max-height: 100%;
  max-width: 100%;
}

.brand-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/index/brand/pic4.jpg");
  color: #fff;
  background-attachment: fixed;
}
.brand-wrapper .brand-right .brand-btn a {
  color: rgb(255, 85, 0);
  padding-right: 0.5rem;
}

.contact-wrapper {
  background: linear-gradient(90deg, rgb(223, 223, 231) 30%, rgb(232, 232, 244) 70%);
}
.contact-wrapper .contact-left span {
  background: rgb(255, 85, 0);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 4rem;
  color: #fff;
}
.contact-wrapper .contact-left img {
  width: 220px;
  height: 300px;
  max-width: 100%;
  -webkit-animation: rocketlauncher 0.7s 0.8s linear infinite;
          animation: rocketlauncher 0.7s 0.8s linear infinite;
}
.contact-wrapper .contact-left h4 {
  padding: 1rem 0;
}
.contact-wrapper .contact-right form {
  background: rgb(10, 10, 44);
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/contact/pic1.webp");
  color: #fff;
}

.contact-main .right a {
  color: #000;
}
.contact-main .right p {
  color: rgb(149, 143, 143);
}

@media screen and (max-width: 1000px) {
  .contact .contact-left span {
    font-size: 2.5rem;
    padding: 0.1rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
footer {
  background: rgb(10, 10, 44);
}
footer .footer-link h5 {
  color: #fff;
}
footer .footer-link h2 {
  color: #6adfd7;
}
footer .footer-link p {
  color: rgb(149, 143, 143);
}
footer .footer-link a {
  color: rgb(149, 143, 143);
  line-height: 2.5rem;
}
footer .heading {
  color: #fff;
  border-top: 1px dotted rgb(149, 143, 143);
}

.industries-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/industries/pic1.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  color: #fff;
}

.industries-main .main-txt p {
  padding: 1rem;
  margin: 0.5re 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.digital-m-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/services/service_bg.jpg");
  color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.digital-m-main .main-left img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}/*# sourceMappingURL=style.css.map */