// google font
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap");

// <======================================variables start==================================>
$big_font: 4rem;
$medium_font: 3rem;
$small_font: 2rem;
$smaller_font: 1rem;
$primary_color: rgb(255, 85, 0);
$secondry_color: rgb(10, 10, 44);
$tertery_color: linear-gradient(
  90deg,
  rgb(223, 223, 231) 30%,
  rgb(232, 232, 244) 70%
);
$text_white: #fff;
$text_black: #000;
$text_span: #6adfd7;
$text_gray: rgb(149, 143, 143);
$effect: 0.5s ease-in-out;

@mixin bg {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

@mixin bg2 {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
}
@mixin glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin br {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

// <======================================global start==================================>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid green;
  list-style-type: none;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  outline: none;
}
a {
  text-decoration: none !important;
}

section {
  padding: 80px 0;
}
footer {
  padding: 20px 0;
}
header {
  padding: 10px 10%;
}
.heading {
  text-align: center;
  padding: 3rem;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1rem;
}


h1 {
  font-size: $big_font;
}
h2 {
  font-size: $medium_font;
}
h3 {
  font-size: $small_font;
}
p {
  font-size: $smaller_font;
}


.col-md-6,
.col-md-2,
.col-md-5 {
  margin-bottom: 1rem;
}

.cta {
  padding: 0.7rem 1.5rem;
  background: $primary_color;
  color: $text_white;
  transition: $effect;
  border: 1px solid $text_white;
  @include br;
  &:hover {
    background: $text_white;
    color: $text_black;
  }
}

.brand,
.contact,
.services {
  .fa {
    font-size: 1.7rem;
    padding: 0.8rem;
    background: $primary_color;
    border-radius: 50%;
    color: $text_white;
    margin-bottom: 1rem;
    transition: $effect;
    cursor: pointer;
    &:hover {
      color: $primary_color;
      background: $text_white;
    }
  }
}

@keyframes typewritter {
  0% {
    content: "Web Designing";
  }
  50% {
    content: "Software Development";
  }
  100% {
    content: "Online Marketing";
  }
}

@keyframes rocketlauncher {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -80px);
    opacity: 0;
  }
  0% {
    transform: translate(0px, 0px);
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $secondry_color;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
  height: auto;
  transition: $effect;
}

@mixin bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

@mixin bg2 {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  section {
    padding: 50px 0;
    transition: $effect;
  }
  header {
    padding: 7px 3%;
    transition: $effect;
  }
}

// <======================================header start==================================>
header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  .navbar-toggler {
    :focus {
      outline: none;
      border: none;
    }
  }
  li {
    a {
      color: $text_white !important;
      margin-left: 1rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }
}
// <======================================Home start==================================>
.home-wrapper {
  padding-top: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/index/home/pic1.jpg");
  @include bg;
}

.home-left {
  h2 {
    color: $text_white;
    line-height: 4.4rem;
    font-weight: 800;
    letter-spacing: 0.5rem;

    span {
      &::after {
        content: "";
        animation: typewritter 0.9s linear infinite;
        color: $text_span;
      }
    }
  }
  .home-btn {
    img {
      width: 50px;
      height: 80px;
      animation: rocketlauncher 0.7s 0.8s linear infinite;
    }
  }
}
.home-right {
  form {
    @include glass;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.9rem;
    color: $text_white;
    cursor: pointer;
    input,
    select,
    textarea {
      outline: none;
      border: none;
      border-bottom: 1px solid $text_gray;
      background: transparent;
      &::placeholder {
        color: $text_black;
      }
    }

    .form-group {
      padding: 0.8rem;
      label {
        padding-bottom: 1rem;
      }
    }

    .home-btn {
      button {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 4rem;
    height: 160vh;
    transition: $effect;
  }
}

// <======================================Counter start==================================>
.counter-wrapper {
  .counter-card {
    height: 100%;
    width: 100%;
    i {
      &:nth-child(1) {
        color: $primary_color;
      }
    }
  }
}
// <======================================services start==================================>

.services-wrapper {
  background: $tertery_color;
  .services-card {
    display: grid;
    place-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 320px;
    max-height: 100%;
    max-width: 100%;
    transition: $effect;
    &:hover {
      background-position: center right;
    }

    .services-icon {
      .fa {
        font-size: $big_font;
        color: $text_white;
      }
    }
    .services-text {
      h4 {
        color: $text_white;
        transition: $effect;
      }
    }
  }

  .seo {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/index/services/seo.webp");
  }
  .wd {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/index/services/technology-wd.webp");
  }
  .gd {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/index/services/cd-ld.webp");
  }
  .dm {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/index/services/digital-m.webp");
  }
}

//<-------------- services inner page start------------>

.services-home-ip {
  @include bg2;
  color: $text_white;
}
.seo-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images//services/seo/bg.webp");
}
.dm-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images/services/digital-m/bg.webp");
}

.gd-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images/services/gd/bg.webp");
}

.wd-ip {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images/services/wd/bg.webp");
}

.services-card-ip {
  .card {
    width: 100%;
    height: 100%;
    img {
      height: 250px;
      max-height: 100%;
    }
  }
}
// <======================================about start==================================>

.about-home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/about/bg.webp");
  @include bg2;
  color: $text_white;
}
// <======================================Market-research start==================================>
.market-research-wrapper {
  background: $tertery_color;

  .mr-card {
    padding: 0.5rem;
    border: 1px dotted $text_gray;
    height: 100%;
    width: 100%;
    .mr-img {
      width: 80px;
      margin: auto;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .graph-img {
    width: 350px;
    height: 300px;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

// <======================================brand start==================================>
.brand-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/index/brand/pic4.jpg");
  color: $text_white;
  background-attachment: fixed;
  .brand-right {
    .brand-btn {
      a {
        color: $primary_color;
        padding-right: 0.5rem;
      }
    }
  }
}

// <======================================contact-wrapper start==================================>
.contact-wrapper {
  background: $tertery_color;
  .contact-left {
    span {
      background: $primary_color;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: $big_font;
      color: $text_white;
    }
    img {
      width: 220px;
      height: 300px;
      max-width: 100%;
      animation: movedown 0.9s linear infinite;
    }
    h4 {
      padding: 1rem 0;
    }
  }
  .contact-right {
    form {
      background: $secondry_color;
      padding: 1rem;
      @include br;
    }
  }
}

.contact-home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/contact/pic1.webp");
  color: $text_white;
}
.contact-main {
  .right {
    a {
      color: $text_black;
    }
    p {
      color: $text_gray;
    }
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    .contact-left {
      span {
        font-size: 2.5rem;
        padding: 0.1rem;
        @include br;
      }
    }
  }
}

// <======================================Footer start==================================>
footer {
  background: $secondry_color;
  .footer-link {
    h5 {
      color: $text_white;
    }
    h2 {
      color: $text_span;
    }
    p {
      color: $text_gray;
    }
    a {
      color: $text_gray;
      line-height: 2.5rem;
    }
  }
  .heading {
    color: $text_white;
    border-top: 1px dotted $text_gray;
  }
}

// <======================================industries start==================================>
.industries-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images/industries/pic1.webp");
  @include bg2;
  color: $text_white;
}
.industries-main {
  .main-txt {
    p {
      padding: 1rem;
      margin: 0.5re 0;
      @include glass;
    }
  }
}
// <======================================digital-m start==================================>
.digital-m-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/images/services/service_bg.jpg");
  color: $text_white;
  @include bg;
}
.digital-m-main {
  .main-left {
    img {
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}
